
<article class="card__section">
    <img src="/images/Rectangle 2BLACKANDWHITE.png" alt="Black and White template for images">
    <div class="card__section-div">
        <div>
            <h3>
                <a href="/products">
                    Whiskey Jack Daniels Honey 750ml
                </a>
            </h3>
        </div>
        <div>
            <p>19.900</p>
            <p class="card__section-puntos">PUNTOS</p>
        </div>
    </div>
</article>
