
<article class="card__section">
    <img src="" alt="">
    <div class="card__section-div">
        <div>
            <h3>Whiskey Jack Daniels Honey 750ml</h3>
        </div>
        <div>
            <p>19.900</p>
            <p class="card__section-puntos">PUNTOS</p>
        </div>
    </div>
</article>
