<section>
    <h2>Te puede interesar</h2>
        <div class="card__section-flex">

            <article class="card__section">
                <img src="" alt="">
                <div class="card__section-div">
                    <div>
                        <h3>Whiskey Jack Daniels Honey 750ml</h3>
                    </div>
                    <div>
                        <p>19.900</p>
                        <p class="card__section-puntos">PUNTOS</p>
                    </div>
                </div>
            </article>
            
            <article class="card__section">
                <img src="" alt="">
                <div class="card__section-div">
                    <div>
                        <h3>NOMBRE DEL PRODUCTO O SERVICIO</h3>
                    </div>
                    <div>
                        <p>XX.XXX</p>
                        <p class="card__section-puntos">PUNTOS</p>
                    </div>
                </div>
            </article>

            <article class="card__section">
                <img src="" alt="">
                <div class="card__section-div">
                    <div>
                        <h3>NOMBRE DEL PRODUCTO O SERVICIO</h3>
                    </div>
                    <div>
                        <p>XX.XXX</p>
                        <p class="card__section-puntos">PUNTOS</p>
                    </div>
                </div>
            </article>

            <article class="card__section">
                <img src="" alt="">
                <div class="card__section-div">
                    <div>
                        <h3>NOMBRE DEL PRODUCTO O SERVICIO</h3>
                    </div>
                    <div>
                        <p>XX.XXX</p>
                        <p class="card__section-puntos">PUNTOS</p>
                    </div>
                </div>
            </article>


        </div>

    </article>

</section>