*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.headerContainer{
    background-color: gba(255, 255, 255, 0.25);
    padding: 16px 16px;
    backdrop-filter: blur(4px)
}

main{
    background: linear-gradient(to bottom, #0CB093, #0CB093 50%, #eee 5%, #ffffff 75%);

}

.registerForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: auto;
    padding: 100px 30px;
    border-radius: 16px;
    background: #FFFFFF;
}


.registerForm h2{
    width: 100%;
    font-weight: 400px;
    font-size: 32px;
}


form input{
    width: 100%;
    border-radius: 16px;
    padding: 15px 10px;
    margin: 10px 0px;
    border: 1px solid black;
}

form button{
    width: 100%;
    border-radius: 16px;
    padding: 15px 10px;
    margin: 10px 0px;
    background: #494F51;

}

.account{
    display: flex;
    justify-content: center;
    padding: 15px 10px;
    margin: 15px 0px;
}

.footerContainer{
    background: rgba(255, 255, 255, 0.25);
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.box1 ul{
    display: flex;
    gap: 20px;
}

.box1 ul li{
    list-style: none;
}

.box2{
    color: #999999;
    font-size: 12px;
}

.box3 ul{
    display: flex;
    gap: 20px;
}

.box3 ul li{
    list-style: none;
    color: #999999;font-size: 12px;
}