<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/styles/notfound.css">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <main>
        <section class="future">
            <h1>Estamos trabajando en esta futura pagina</h1>
            <figure>
                <img src="./images/mantenimiento.png" alt="mantenimiento">
            </figure>
        </section>
        
    </main>


    <%- include('../partials/footer') %>
    
</body>
</html>