<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <div class="ventanaEmergente">
        <%- include('../partials/modalError') %>

    </div>

        <header>
            <div class="headerContainer">
                <a href="/" class="text-logo">
                    <p>Mi<span>Ecommerce</span></p>
                </a>
            </div>
        </header>

        <main class="registerLoginMain">

            <section class="registerForm">

                <h2>¡Hola!</h2>
                <form action="/register" method="post">
                    <input class="inPut" type="name" name="name" placeholder="Tu nombre de usuario">
                    <input class="inPut" type="password" name="key" placeholder="Tu contraseña">
                    <button class="btn" type="submit">Crear cuenta</button>
                </form>

            </section>

            <div class="account">
                <p>¿No tienes cuenta? <a href="/register">Registrate</a></p>
            </div>

        </main>


        <%- include('../partials/footer') %>

    </body>

</html>