<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/styles/notfound.css">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>

    <main>
        <section class="future">
            <figure>
                <img src="./images/pages/error-404.jpg" alt="error-404">
            </figure>
        </section>
        
    </main>


    <%- include('../partials/footer') %>
    
</body>
</html>