<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
        <header>
            <div class="headerContainer">
                <a href="/">
                    <img src="images/MiEcommerce.png" alt="logo MiEcommerce">
                </a>
            </div>
        </header>

            <main class="registerLoginMain">

                <section class="registerForm">

                    
                    <article>

                        <h2>¡Registrate!</h2>
                        <form action="/register" method="post">
                            <input class="inPut" type="email" name="email" placeholder="Tu email">
                            <input class="inPut" type="password" name="key" placeholder="Tu nueva contraseña">
                            <input class="Input" type="password" name="key" placeholder="Repite tu contraseña">
                            <button class="buttomSubmit" type="submit">Crear cuenta</button>
                        </form>
                        
                    </article>
                </section>
                <div class="account">
                    <p>¿Ya tienes cuenta?  <a href="/login">Inicia Sesion</a></p>
                </div>


            </main>

            <%- include('../partials/footer') %>

    </body>

</html>
