<footer class="footer-principal">
    <section class="footer-container">
        <div class="footer-social">
            <ul role="list">
                <li>
                    <i class="fa-brands fa-twitter"></i>
                </li>
                <li>
                    <i class="fa-brands fa-facebook"></i>
                </li>
                <li>
                    <i class="fa-brands fa-instagram"></i>
                </li>
                <li>
                    <i class="fa-brands fa-youtube"></i>
                </li>
            </ul>
        </div>
        <div class="footer-app">
            <ul>
                <li>
                    <i class="fa-brands fa-apple"></i>
                    <span> App Store </span>
                </li>
                <li>
                    <i class="fa-brands fa-google-play"></i>
                    <span> Google Play </span>
                </li>
            </ul>
        </div>
        <div class="footer-legend">
            <p> &copy; MiEcommerce. Todos los derechos reservados.</p>
        </div>
    </section>
</footer>