<header class="header-principal">
    <div class="header-container">
        <a href="/" class="text-logo">
            <p>Mi<span>E</span><span>commerce</span></p>
        </a>


        <form action="search" class="busqueda-header">
            <input type="search" placeholder="Buscar productos...">
            <button type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>

        <div class="links-header">
            <div class="link-carrito">
                <a href="/cart" class="btn">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
                <span class="carrito-notificacion">1</span>
            </div>

            <a class="link-perfil btn" href="/login"> 
                <img src="/images/olivia.png" alt="Imagen de perfil del usuario">
                <span>Olivia</span>
            </a>
        </div>
    </div>
</header>