

<section class="side_menu">
    <div id="sidebar">

        <div class="toggle-btn link-perfil ">
            <img src="/images/olivia.png" alt="Imagen de perfil del usuario">
            <a href="/login"> <span>Olivia</span> </a> 
        </div>

        <ul>
            <li> <a href="#"></a>Inicio</li>
            <li> <a href="#"></a>Mis Compras</li>
            <li> <a href="#"></a>Favoritos</li>
            <li> <a href="#"></a>Historial</li>
            <li> <a href="#"></a>Cambiar a Tema Claro</li>
        </ul>
        
    </div>
</section>

<header class="header-principal">
    <div class="header-container">
        <a href="/" class="link-logo">
            <img src="/images/MiEcommerce.png" alt="logo MiEcommerce">
        </a>
        
        
        <form action="search" class="busqueda-header">
            <input type="search" placeholder="Buscar productos...">
            <button type="submit">
            <%- include('../../../public/images/magnify.svg') %>
            </button>
        </form>
        
        <div class="links-header">
            <div class="link-carrito">
                <a href="/cart">
                    <%- include('../../../public/images/cart-plus.svg') %>
                </a>
                <span class="carrito-notificacion"></span>
            </div>
            
        </div>

    </div>
</header>

