

<section class="side_menu">
    <div id="sidebar">

        <div class="toggle-btn link-perfil ">
            <img src="/images/olivia.png" alt="Imagen de perfil del usuario">
            <a href="/login"> <span>Olivia</span> </a> 
        </div>

        <ul>
            <li> <a href="#"></a>Inicio</li>
            <li> <a href="#"></a>Mis Compras</li>
            <li> <a href="#"></a>Favoritos</li>
            <li> <a href="#"></a>Historial</li>
            <li> <a href="#"></a>Cambiar a Tema Claro</li>
        </ul>
        
    </div>
</section>

<header class="header-principal">
    <div class="header-container">
        <a href="/" class="text-logo">
            <p>Mi<span>E</span><span>commerce</span></p>
        </a>


        <form action="search" class="busqueda-header">
            <input type="search" placeholder="Buscar productos...">
            <button type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>

        <div class="links-header">
            <div class="link-carrito">
                <a href="/cart" class="btn">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
                <span class="carrito-notificacion">1</span>
            </div>
        </div>

    </div>
</header>