<div class="modalError">
    <p class="modalTitle">Error</p>
    <p class="modalText">Lo sentimos ha ocurrido un Error</p>
    <div class="modalButtons">
        <button class="primaryButton">Volver a intentarlo</button>
        <button class="secondaryButton">Go next king</button>
    </div>
</div>