<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/styles/cart.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
</head>
<body>
    <main>
        <section>
            <a href="#"><i class="fa-solid fa-arrow-left"></i> Volver</a>
            <h2>Productos en tu carrito</h2>
            <div class="products">
                <article>
                    <div>
                        <img src="/images/products/p1.jpg" alt="combo_hamburguesa">
                        <p>Jack Daniel's Tennessee Honey Botella 750 mL</p>
                    </div>
                    <div>
                        <a href="" class="button">Quitar</a>
                        <form action="">
                            <label for="" class="cantidad-products">
                                <p class="mas">+</p>
                                <p class="menos">-</p>
                                <input type="number" name="cantidad" id="cantidad" value="1" >  
                            </label>
                        </form>
                        <p>19.900</p>
                    </div>
                </article>
                
            </div>
            <p>Total de Puntos  <b>26.420</b></p>
            <a href="" class="button">ir a Pagar</a>
        </section>
    </main>
</body>
</html>