<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>

    <header>
        <label for="site-search">Search the site:</label>
        <input type="search" id="site-search" name="q">
        <button>Search</button>
    </header>

    <nav>

    </nav>

    <main>
        <section>
            <ul>
                <li>Electrónica</li>
                <li >Alimentos <i class="fa-solid fa-burger-cheese"></i> </li>
                <li>Bebidas</li>
                <li>Indumentaria</li>
                <li>Juegos</li>
                <li>Automotor</li>
                <li>Hogar</li>
                <li>Otros</li>
            </ul>
        </section>

    </main>

    <section>
        <div>
            <a href="/img/Rectangle 1.png"></a>
        </div>
        <div>
            <a href="/img/Rectangle 2.png"></a>
        </div>
    </section>
    

</body>
</html>