<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/styles/home.css">
    <title>Document</title>
</head>
<body>

    <header>
        <label for="site-search">Search the site:</label>
        <input type="search" id="site-search" name="q">
        <button>Search</button>
    </header>

    <nav>

    </nav>

    <main>
        <section class="sectionMain">
            <ul>
                <li>Electrónica <i class="fa-solid fa-laptop-mobile"></i> </li>
                <li>Alimentos <i class="fa-solid fa-burger-cheese"></i> </li>
                <li>Bebidas <i class="fa-solid fa-beer-mug"></i> </li>
                <li>Indumentaria <i class="fa-solid fa-shirt"></i> </li>
                <li>Juegos <i class="fa-solid fa-gamepad"></i> </li>
                <li>Automotor <i class="fa-solid fa-steering-wheel"></i> </li>
                <li>Hogar <i class="fa-solid fa-couch"></i> </li>
                <li>Otros <i class="fa-solid fa-gift"></i> </li>
            </ul>
        </section>

    </main>

    <section>
        <div>
            <img src="/img/Rectangle 1.png" alt="">
        </div>
        <div>
            <img src="/img/Rectangle 2.png" alt="">
        </div>
    </section>

    <section>
        <H2>Te puede interesar</H2>
            <div class="flex">

                <article class="card_section">
                    <img src="/img/Rectangle 2whiskacho.png" alt="">
                    <h3>Whiskey Jack Daniels Honey 750ml</h3>
                    <p>19.900</p>
                    <p>PUNTOS</p>
                </article>

                <article>
                    <h3>NOMBRE DEL PRODUCTO O SERVICIO</h3>
                    <p>XX.XXX</p>
                    <p>PUNTOS</p>
                </article>

                <article>
                    <h3>NOMBRE DEL PRODUCTO O SERVICIO</h3>
                    <p>XX.XXX</p>
                    <p>PUNTOS</p>
                </article>

                <article>
                    <h3>NOMBRE DEL PRODUCTO O SERVICIO</h3>
                    <p>XX.XXX</p>
                    <p>PUNTOS</p>
            </div>

        </article>

    </section>
    
    <section>
        <H2>Los más pedidos</H2>

        <article>
            <h3>Coca Cola Lata 220mL Pack Original x8</h3>
            <p>760</p>
            <p>PUNTOS</p>
        </article>

        <article>
            <h3>NOMBRE DEL PRODUCTO O SERVICIO</h3>
            <p>XX.XXX</p>
            <p>PUNTOS</p>
        </article>

        <article>
            <h3>NOMBRE DEL PRODUCTO O SERVICIO</h3>
            <p>XX.XXX</p>
            <p>PUNTOS</p>
        </article>

        <article>
            <h3>NOMBRE DEL PRODUCTO O SERVICIO</h3>
            <p>XX.XXX</p>
            <p>PUNTOS</p>
        </article>
        
        <article>
            <h3>NOMBRE DEL PRODUCTO O SERVICIO</h3>
            <p>XX.XXX</p>
            <p>PUNTOS</p>
        </article>

        <article>
            <h3>NOMBRE DEL PRODUCTO O SERVICIO</h3>
            <p>XX.XXX</p>
            <p>PUNTOS</p>
        </article>

        <article>
            <h3>NOMBRE DEL PRODUCTO O SERVICIO</h3>
            <p>XX.XXX</p>
            <p>PUNTOS</p>
        </article>

        <article>
            <h3>NOMBRE DEL PRODUCTO O SERVICIO</h3>
            <p>XX.XXX</p>
            <p>PUNTOS</p>
        </article>

    </section>



</body>
</html>