<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')  %> 
<body>
    <%- include('../partials/header')  %> 


    <main>
        <section class="main__section">
            <ul>
                <li>Electrónica <i class="fa-solid fa-laptop-mobile"></i> </li>
                <li>Alimentos <i class="fa-solid fa-burger-cheese"></i> </li>
                <li>Bebidas <i class="fa-solid fa-beer-mug"></i> </li>
                <li>Indumentaria <i class="fa-solid fa-shirt"></i> </li>
                <li>Juegos <i class="fa-solid fa-gamepad"></i> </li>
                <li>Automotor <i class="fa-solid fa-steering-wheel"></i> </li>
                <li>Hogar <i class="fa-solid fa-couch"></i> </li>
                <li>Otros <i class="fa-solid fa-gift"></i> </li>
            </ul>
        </section>
    </main>

    <section>
        <h2>Te puede interesar</h2>
            <div class="card__section-flex">
    
    
            </div>
    
        </article>
    
    </section>

    <section>
        <h2>Los más pedidos</h2>
            <div class="card__section-flex">
    
    
            </div>
    
        </article>
    
    </section>
    
    <%- include('../partials/footer')  %> 

</body>
</html>

