<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/registerLogin.css">
    <link rel="stylesheet" href="/styles/form.css">
    <script src="https://kit.fontawesome.com/dc8f5ba48f.js" crossorigin="anonymous"></script>
    <title>Login</title>
</head>
<body>

    <header>
        <div class="headerContainer">
            <img src="./" alt="logo">
        </div>
    </header>

    <main>

        <section class="registerForm">

            <h2>¡Hola!</h2>
                <form action="/register" method="post">
                    <input class="inPut" type="name" name="name" placeholder="Tu nombre de usuario">
                    <input  class="inPut" type="password" name="key" placeholder="Tu contraseña">
                <button class="buttomSubmit" type="submit">Crear cuenta</button>
            </form>
            
        </section>

        <div class="account">
            <p>¿No tienes cuenta?</p><a href="#">Registrate</a>
        </div>
        
    </main>

    <footer>
        <hr>
        <section class="footerContainer">
            <div class="box1">
                <ul>
                    <li><i class="fa-brands fa-twitter"></i></li>
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-youtube"></i></li>   
                </ul>
                </div>
                <div class="box2">
                    <p>© MiEcommerce. Todos los derechos reservados.</p>
                </div>

                <div class="box3">
                    <ul>
                        <li><i class="fa-brands fa-apple"></i>App Store </li>
                        <li><i class="fa-brands fa-google-play"></i>Google Play</li>
                    </ul>
                </div>
            </section>
        </footer> 
    
    


    




    
</body>
</html>