<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/footer.css">
    <link rel="stylesheet" href="styles/products.css">


    <title>Products</title>
</head>
<body>
    <%- include('../partials/header') %>
    <div class="container-products">
    <section class="detalle-producto">
        <article class="producto-img-txt">
            <h3>Whiskey Jack Daniels Honey 750ml</h3>
            <p>19.900</p>
            <span>PUNTOS </span>
            <button>Agregar al Carrito</button>
            <p>Un verdaderamente fabuloso licor de whisky Jack Daniels. Está hecho con una mezcla de ricas especias y suave, miel tersa y el resultado es delicioso sobre hielo o café.
                Aroma de caramelo y roble carbonizado, un poco de flor de naranja, miel de manuka y vainilla.
                Boca: grueso y cremoso, con notas de vainilla, roble tostado, miel de nuevo, un poco de albaricoque también.
                Acabado: De buena longitud - redondeado y rico.
                No incluye vasos, la foto es sólo ilustrativa</p>
        <img src="images/images (2).jpeg" alt="Detalle de producto">
        </article>
    </section>
    
    
    <%- include('../partials/footer') %>
    </div>
</body>

</html>






