<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/registerLogin.css">
    <link rel="stylesheet" href="/styles/form.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/dc8f5ba48f.js" crossorigin="anonymous"></script>
    <title>Registro</title>
</head>
<body>

    <header>
        <div class="headerContainer">
            <img src="images/MiEcommerce.png" alt="logo">
        </div>
    </header>

    <main class="registerLoginMain">

        <section class="registerForm">

            <h2>¡Registrate!</h2>
                <form action="/register" method="post">
                    <input class="inPut" type="email" name="email" placeholder="Tu email">
                    <input class="inPut" type="password" name="key" placeholder="Tu nueva contraseña">
                    <input class="Input" type="password" name="key" placeholder="Repite tu contraseña">
                <button class="buttomSubmit" type="submit">Crear cuenta</button>
            </form>
            
        </section>

        <div class="account">
            <p>¿Ya tienes cuenta? </p> <a href="#">Inicia Sesion</a>
        </div>
        
    </main>
    
    
    <%- include('../partials/footer') %>
    
    
</body>
</html>