<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<<< HEAD:views/pages/register.ejs
    <link rel="stylesheet" href="/styles/style.css">
========
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="form.css">
>>>>>>>> 4df8022bf4659fad0d2f97a717b6b721a1825b23:register.html
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>Registro</title>
</head>
<body>

    <head>
        <div class="headerContainer">
            <img src="./MiEcommerce.png" alt="logo">
        </div>
    </head>

    <main>

        <section class="registerForm">

            <h2>¡Registrate!</h2>
                <form action="/register" method="post">
                    <input type="email" name="email" placeholder="Tu email">
                    <input type="password" name="key" placeholder="Tu nueva contraseña">
                    <input type="password" name="key" placeholder="Repite tu contraseña">
                <button type="submit">Crear cuenta</button>
            </form>
            
        </section>

        <div class="account">
            <p>¿Ya tienes cuenta? </p> <a href="#">Inicia Sesion</a>
        </div>
        
    </main>
    
    
    <footer>
        <hr>
        <section class="footerContainer">
            <div class="box1">
                <ul>
                    <li><img src="./Vector.png" alt=""></li>
                    <li><img src="./Vector (1).png" alt=""></li>
                    <li><img src="./Vector (2).png" alt=""></li>
                    <li><img src="./Vector (3).png" alt=""></li>   
                </ul>
                </div>
                <div class="box2">
                    <p>© MiEcommerce. Todos los derechos reservados.</p>
                </div>

                <div class="box3">
                    <ul>
                        <li><img src="./Vector (4).png" alt="">App Store </li>
                        <li><img src="./Vector (5).png" alt="">Google Play</li>
                    </ul>
                </div>
            </section>
        </footer> 
    
    
</body>
</html>