<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %> 
    <main>

        <section class="registerForm">

            <h2>¡Registrate!</h2>
                <form action="/register" method="post">
                    <input type="email" name="email" placeholder="Tu email">
                    <input type="password" name="key" placeholder="Tu nueva contraseña">
                    <input type="password" name="key" placeholder="Repite tu contraseña">
                <button type="submit">Crear cuenta</button>
            </form>
            
        </section>

        <div class="account">
            <p>¿Ya tienes cuenta? </p> <a href="#">Inicia Sesion</a>
        </div>
        
    </main>
    
    <%- include('../partials/footer') %> 

</body>
</html>