
:root{
    --principal-white: rgba(255,255,255,1);
    --principal-lightGrey: rgba(153,153,153,1);
    --principal-mediumGrey: rgba(245,245,245,1);
    --principal-darkGrey: rgba(73,79,81,1);
    --principal-green: rgba(12,176,147,1);
    --principal-black: rgba(0,0,0,1);
    --principal-red: rgba(255,0,0,1);
}

* {
    padding:0px;
    margin: 0px;
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
    
}

.footer-principal {
    display: flex;
    justify-content: center;

    width: 100%;
    min-height: 70px;
    border-top: 1px solid var(--principal-lightGrey);
    background-color: var(--principal-mediumGrey);
   
    
}

.footer-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 1280px;
    padding: 30px 40px;
    gap: 15px;
}


.footer-social ul {
    display: flex;
    gap: 20px;
}

.footer-social li {
    display: flex;
    text-decoration: none; 
}

.footer-social svg {
    fill: var(--principal-lightGrey);
}

.footer-legend p {
    color: var(--principal-lightGrey);
    font-weight: 200;
    font-size: 14px;
}



.footer-app ul {
    display: flex;
    gap: 14px;
}

.footer-app li {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
    text-decoration: none;
}
.footer-app span {
    color: var(--principal-lightGrey);
    font-size: small;
}


.footer-app svg {
    fill: var(--principal-lightGrey);
}
@media (min-width:796px) {
    .footer-app{
        order: 2;
    }
    .footer-container{
        justify-content: space-between;
    }
}