.registerForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin:  auto;
    padding: 80px 30px 30px 20px;
    border-radius: 16px;
    background: #FFFFFF;
    width: 90%;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
}

.registerForm form{
    width: 100%;
}

.registerForm h2{
    width: 100%;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 15px;
}

.registerForm fieldset, .registerForm article{
    width: 100%;
}
.registerForm input{
    width: 100%;
    border-radius: 16px;
    padding: 15px 10px;
    margin: 8px 0px;
    border: 1px solid black;
}

.registerForm button{
    width: 100%;
    border-radius: 16px;
    padding: 15px 10px;
    margin: 10px 0px;
}

/* verificando errores en los formularios */

.error{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
}
.error input, .error textarea, .error select{
    border: #f20736 3px solid;
}
fieldset small, fieldset i[class = "fas fa-exclamation-circle"]{display: none;}

.error i[class = "fas fa-exclamation-circle"]{
    display: block;
    color: #f20736;
    background-color: #fff;
    position: absolute;
    right: 8%;
    top: 30%;
}
.error small, form small{
    width: 100%;
    text-align: left;
    margin-left: 8px;
    margin-top: 5px;
    font-style: italic;
    display: block;
    color: #f20736;
    font-size: .9rem;
}

