/* contenedores */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
}

.header-principal {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    top: 0;
    padding: 0 20px;
    z-index: 4;
    background-color: rgb(239 239 239);
    border-bottom: 1px solid var(--principal-lightGrey);
}


/* Logo de MiEcommerce */

.text-logo {
    text-decoration: none;
    color: #0CB093;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
    line-height: 33px;
    letter-spacing: -0.03em;

}
.text-logo >p span:nth-child(2){
    display: none;
}
.text-logo p>span {
    font-weight: 300;
}



/* formulario de busqueda */
.busqueda-header {
    position: relative;
    width: 60%;
    height: 30px;
}

.busqueda-header input[type="search"] {
    width: 100%;
    height: 30px;
    padding: 0 14px;
    border-radius: 20px;
    border: 1px solid var(--principal-lightGrey);
    font-size: 12px;
    color: var(--principal-lightGrey);
}
.busqueda-header i{
    color: var(--principal-lightGrey);
}

.busqueda-header input[type="search"]::placeholder {
    color: var(--principal-lightGrey);
}

.busqueda-header button[type="submit"] {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 3px;
    right: 10px;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}


/* carrito de compras */
.links-header {
    display: flex;
    align-items: center;
    gap: 10px;
}


.link-carrito {
    position: relative;
}
.link-carrito i{
    color: var(--principal-white);
}

.link-carrito a {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;

    color: var(--principal-lightGrey);
    font-size: 14px;
    background-color: var(--principal-darkGrey);
    border-radius: 50%;
    text-decoration: none;
}

.carrito-notificacion {
    position: absolute;
    display: block;
    text-align: center;
    min-width: 15px;
    line-height: 8px;
    padding: 4px;
    top: -18%;
    right: -20%;
    font-size: 8px;
    color: var(--principal-white);
    background-color: var(--principal-red);
    border-radius: 50%;
}

/* Acceso al perfil */
.link-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-decoration: none;
    border: none;
    color: var(--principal-white);
    background-color: var(--principal-darkGrey);
    cursor: pointer;
}

.perfil-nav .link-perfil:hover {
    background-color: var(--principal-green);
}

.link-perfil img {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.link-perfil > span{
    display: none;
}

@media(min-width: 768px) {
    .text-logo >p span:nth-child(2){
        display: inline;
    }
    .link-perfil {
        gap: 6px;
        width: min-content;
        border-radius: 20px;
        padding: 6px;
        padding: 0 12px 0 2px;
        font-size: 12px;
        font-weight: 100;
    }
    .link-perfil > span{
        display: block;
    }
    
}

/* Menu mobile y desktop*/

.sidebar {
    position: fixed;
    right: -100vw;
    transition: all 0.3s ease-in;
    transition-delay: 0.5s;
    opacity: 0;
    top: 0;
    background: var(--principal-white);
    width: 90vw;
    height: 100vh;
    border-radius: 16px 0px 0px 16px;
    color: var(--principal-black);
}

.sidebar-profile {
    display: flex;
    align-items: center;
    padding: 30px 20px;
    gap: 10px;
}
.sidebar-profile img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.sidebar ul {
    border-top: 1px solid var(--principal-lightGrey);
}

.sidebar li {
    padding: 15px 0 15px 60px;
}

.sidebar li:last-child {
    border-top: 1px solid var(--principal-lightGrey);
    padding-left: 30px;

}

.sidebar a, .sidebar a:active, .sidebar a:focus {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    color: var(--principal-black);
    
}

.sidebar.opened {
    right: 0;
    opacity: 1;
}

.perfil-nav {
    position: relative;
} 


@media (min-width: 768px) {
    .sidebar {
        position: absolute;
        background: var(--principal-white);
        width: 240px;
        height: 220px;
        right: 0;
        top: 60px;
        border-radius: 16px;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    }
    
    .sidebar-profile {
        padding: 10px 20px;
    }

    .sidebar li {
    padding: 5px 0 5px 30px;
    }
    .sidebar li:last-child {
        padding-left: 15px;
    
    }


}

