/* contenedores */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
}

.header-principal {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    top: 0;
    padding: 0 20px;
    z-index: 4;
    background-color: rgb(239 239 239);
    border-bottom: 1px solid var(--principal-lightGrey);
}


/* Logo de MiEcommerce */
.text-logo {
    text-decoration: none;
    color: #0CB093;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
    line-height: 33px;
    letter-spacing: -0.03em;

}
.text-logo >p span:nth-child(2){
    display: none;
}
.text-logo p>span {
    font-weight: 300;
}



/* formulario de busqueda */
.busqueda-header {
    position: relative;
    width: 60%;
    height: 30px;
}

.busqueda-header input[type="search"] {
    width: 100%;
    height: 30px;
    padding: 0 14px;
    border-radius: 20px;
    border: 1px solid var(--principal-lightGrey);
    font-size: 12px;
    color: var(--principal-lightGrey);
}
.busqueda-header i{
    color: var(--principal-lightGrey);
}

.busqueda-header input[type="search"]::placeholder {
    color: var(--principal-lightGrey);
}

.busqueda-header button[type="submit"] {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 3px;
    right: 10px;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}


/* carrito de compras */
.links-header {
    display: flex;
    align-items: center;
    gap: 10px;
}


.link-carrito {
    position: relative;
}
.link-carrito i{
    color: var(--principal-white);
}

.link-carrito a {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;

    color: var(--principal-lightGrey);
    font-size: 14px;
    background-color: var(--principal-darkGrey);
    border-radius: 50%;
    text-decoration: none;
}

.carrito-notificacion {
    position: absolute;
    display: block;
    text-align: center;
    min-width: 15px;
    line-height: 8px;
    padding: 4px;
    top: -18%;
    right: -20%;
    font-size: 8px;
    color: var(--principal-white);
    background-color: var(--principal-red);
    border-radius: 50%;
}

/* Acceso al perfil */
.link-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-decoration: none;
}

.link-perfil img {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.link-perfil > span{
    display: none;
}


@media(min-width: 768px) {
    .text-logo >p span:nth-child(2){
        display: inline;
    }
<<<<<<< HEAD
=======
    
    .link-carrito {
        position: relative; 
    }
    
    .link-carrito a {
        display: flex;
        width: 30px;
        height: 30px;
        align-items: center;
        justify-content: center;
        
        color: var(--principal-lightGrey);  
        font-size: 14px;
        background-color: var(--principal-darkGrey);
        border-radius: 50%;
        text-decoration: none;
    }
    
    .link-carrito svg {
        fill: var(--principal-white);
        width: 20px;
    }   
    
    .carrito-notificacion {
        position: absolute;
        display: block;
        width: 8px;
        height: 8px;
        top: 0;
        right: 0;
        font-size: 6px;
        background-color: var(--principal-red);
        border-radius: 50%;
    }
    
>>>>>>> 23f216a366474fd79546068b3b3b0f25edae6b1e
    .link-perfil {
        gap: 6px;
        width: min-content;
        border-radius: 20px;
        padding: 6px;
        padding: 0 12px 0 2px;
        font-size: 12px;
        font-weight: 100;
    }
    .link-perfil > span{
        display: block;
    }
    
}
<<<<<<< HEAD

.link-perfil {
    gap: 6px;
    width: min-content;
    border-radius: 20px;
    padding: 6px;
    padding: 0 12px 0 2px;
    font-size: 12px;
    font-weight: 100;
}
.link-perfil > span{
    display: block;
}

/* Modal menu */

.modalMenu{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: auto;
    text-align: center;
    width: 90vw;
    max-width: 400px;
    height: 150px;
    background-color: white;
    border-radius: 1rem;
    font-size: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    /*display: none;*/
    
}
=======
>>>>>>> 23f216a366474fd79546068b3b3b0f25edae6b1e
