*{
    padding: 0;
    margin: 0;
}



/*FLEX*/

#flex{
    display: flex;
}

/*COLORS*/

.fontColor{
    color: #999999;
}

.mainColor{
    background-color: #CCCCCC;
}

/* FOOTER */

footer{
    position: absolute;
    width: 1024px;
    height: 64px;
    left: calc(50% - 1024px/2);
    bottom: 0px;
    align-items: center;
    text-align: center;
}


.footerParrafo{
    position: absolute;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    text-align: center;
}