
.sectionMain ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #333333;
    color: white;
    max-width: 80%;
    margin: 20px auto;
    border-radius: 16px;
    padding: 35px 25px;

}

.sectionMain ul li{
    list-style: none;
    padding: 10px 15px;
    color: white;
    font-weight: 400;
}

@media(min-width:768px){
    .sectionMain{
        height: 200px;
    }
    
    .sectionMain ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .sectionMain ul li {
        text-align: center;
        border-right: 1px solid white;
    }
    
    .sectionMain ul li:last-child{
        border: none;
    }
    
    .sectionMain ul li i{
        width: 100%;
        text-align: center;
    }
    
    
}

@media(min-width:940px){
    .sectionMain ul li:last-child{
        border: none;
    }

    .sectionMain ul li i{
        width: 100%;
        text-align: center;
    }

}