.side_menu{
    position: fixed;
    z-index: 5;
}

.link-perfil {
    display: flex;
    align-items: center;
    gap: 6px;
    width: min-content;
    height: 30px;
    background-color: var(--principal-darkGrey);
    border-radius: 20px;
    padding: 0 12px 0 2px;
    color: white;
    font-size: 12px;
    text-decoration: none;
}

.link-perfil img {
    display: block;
    width: 24px;
    height: 24px;  
    border-radius: 50%;
}

#sidebar{
    background-color: grey;
    width: 400px;
    padding: 15px;
}

#sidebar ul li {
    list-style: none;
    padding: 15px 10px;
}

#sidebar .toggle-btn span{
    display: block;
}