.container-products {
    width: 100%;
    height: auto;
    background-color: var(--principal-mediumGrey);
}

.detalle-producto {
    display: flex;
    align-items: center;
    width: 80%;
    height: auto;
}

.producto-img-txt {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1024px;
    height: 536px;
    padding: 6px;
    border-radius: 14px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.5);
}

