:root{
    --principal-white: rgba(255,255,255,1);
    --principal-lightGrey: rgba(153,153,153,1);
    --principal-mediumGrey: rgba(245,245,245,1);
    --transparent-white: rgba(255,255,255,0.45);
    --principal-darkGrey: rgba(73,79,81,1);
    --principal-green: rgba(12,176,147,1);
    --principal-black: rgba(0,0,0,1);
    --principal-red: rgba(255,0,0,1);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.headerContainer{
    background-color: rgba(255, 255, 255, 0.25);
    padding: 16px 16px;
    backdrop-filter: blur(4px)
}

.registerLoginMain{
    background: linear-gradient(to bottom, #0CB093, #0CB093 50%, #eee 5%, #ffffff 75%);
    padding-top: 20px;
    min-height: 82.5vh;
}

.account{
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    margin: 5px 0px;
}

