:root{
    --principal-white: rgb(255,255,255);
    --principal-lightGrey: rgb(153,153,153);
    --principal-mediumGrey: rgb(245,245,245);
    --transparent-white: rgba(255,255,255,0.45);
    --principal-darkGrey: rgb(73,79,81);
    --principal-green: rgb(12,176,147);
    --principal-black: rgb(0,0,0);
    --principal-red: rgb(255,0,0);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.headerContainer{
    background-color: rgba(255, 255, 255, 0.25);
    padding: 16px 16px;
    backdrop-filter: blur(4px)
}

.registerLoginMain{
    background: linear-gradient(to bottom, #0CB093, #0CB093 50%, #eee 5%, #ffffff 75%);
    padding-top: 20px;
    min-height: 82.5vh;
}
.registerForm{
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
}
.account{
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    margin: 5px 0px;
    width: 100%;
}
