@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700;800&family=Roboto:wght@100;700;900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
:root{
    --principal-white: rgba(255,255,255,1);
    --principal-lightGrey: rgba(153,153,153,1);
    --principal-mediumGrey: rgba(245,245,245,1);
    --transparent-white: rgba(255,255,255,0.45);
    --principal-darkGrey: rgba(73,79,81,1);
    --principal-green: rgba(12,176,147,1);
    --principal-black: rgba(0,0,0,1);
    --principal-red: rgba(255,0,0,1);
}


.mainIndex{
    background: repeating-linear-gradient( var(--principal-white) 0, var(--principal-white) 50%,  var(--principal-green) 0, var(--principal-green) 97%, var(--principal-white) 0, var(--principal-white));
    padding-top: 20px;
    min-height: 82.5vh;
    background-attachment: fixed;
}

.btn{
    border: 0;
    color: #fff;
    font-weight: bold;
    background-color: var(--principal-darkGrey);
    transition: all ease-in-out .25s;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--principal-green);
}

